<div class="main-content container-fluid detail-content">
  <div class="section-content-p30">
    <div class="row">
      <div class="col-lg-9 order-1">
        <div class="row">
          <h3>Checkout</h3>
          <div class="row mt-3">
            <div class="col-lg-2 text-center checkout-nav-item">
              <h4
                [style.color]="
                  startCheckout.getValue() &&
                  !startDelivery.getValue() &&
                  !startPayment.getValue()
                    ? 'var(--dark-green)'
                    : 'var(--border-color)'
                "
              >
                Information
              </h4>
            </div>
            <div class="col-lg-3"><hr /></div>
            <div class="col-lg-2 text-center checkout-nav-item">
              <h4
                [style.color]="
                  !startCheckout.getValue() &&
                  startDelivery.getValue() &&
                  !startPayment.getValue()
                    ? 'var(--dark-green)'
                    : 'var(--border-color)'
                "
              >
                Delivery
              </h4>
            </div>
            <div class="col-lg-3"><hr /></div>
            <div class="col-lg-2 text-center checkout-nav-item">
              <h4
                [style.color]="
                  !startCheckout.getValue() &&
                  !startDelivery.getValue() &&
                  startPayment.getValue()
                    ? 'var(--dark-green)'
                    : 'var(--border-color)'
                "
              >
                Payment
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <app-checkout-info
            *ngIf="
              startCheckout.getValue() &&
              !startDelivery.getValue() &&
              !startPayment.getValue()
            "
          ></app-checkout-info>
          <app-checkout-delivery
            *ngIf="
              !startCheckout.getValue() &&
              startDelivery.getValue() &&
              !startPayment.getValue()
            "
          ></app-checkout-delivery>
          <app-checkout-payment
            *ngIf="
              !startCheckout.getValue() &&
              !startDelivery.getValue() &&
              startPayment.getValue()
            "
            [numItems]="numItems"
            [total]="total"
          ></app-checkout-payment>
        </div>
      </div>
      <div class="col-lg-3 order-2">
        <app-order-summary
          [numItems]="numItems"
          [subTotal]="subTotal"
          [shipping]="shipping"
          [tax]="tax"
          [total]="total"
        ></app-order-summary>

        <div class="row mt-5">
          <h4>Items</h4>
          <div>
            <hr />
          </div>
          <div class="row summary mb-3" *ngFor="let item of cartItems">
            <div class="col-md-6">
              <img
                src="{{ item.imageUrl }}"
                class="img-fluid rounded"
                alt="{{ item.name }}"
              />
            </div>
            <div class="col-md-6 item-detail">
              <h6>{{ item.name }}</h6>
              <p>{{ item.unitPrice | currency : "USD" }}</p>
              <p>Qty: {{ item.quantity }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
