.login-status-header {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}
.security-btn {
    min-width:95px;
    border:1px solid var(--dark-green);
    -webkit-border-radius:var(--btn-radius);
    -moz-border-radius:var(--btn-radius);
    border-radius: var(--btn-radius);
    background:transparent;
    display: flex;
    align-items: center;
    height: 43px;
    justify-content: center;
    margin-left: 10px;
}

.security-btn:hover{
    background:var(--light-green);
    border:1px solid var(--light-green);
}

.security-btn p {
    display: block;
    margin-bottom: 0;
}

.security-btn i {
    margin-left: 5px;
}

.security-btn>i, .security-btn>p{
    color:var(--dark-green);
}

.login-status-user-info {
    line-height:43px;
    border:1px solid var(--border-color);
    font-size:14px;
    color:#666;
    padding:0 17px;
    -webkit-border-radius:var(--btn-radius);
    -moz-border-radius:var(--btn-radius);
    border-radius:var(--btn-radius);
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}