.login-status-header {
    position: absolute;
    bottom: 35px;
}
.security-btn {
    min-width:95px;
    border:1px solid var(--dark-green);
    -webkit-border-radius:var(--btn-radius);
    -moz-border-radius:var(--btn-radius);
    border-radius: var(--btn-radius);
    background:transparent;
    display: flex;
    align-items: center;
    height: 43px;
    justify-content: center;
    margin-bottom: 10px;
}

.security-btn:hover{
    background:var(--light-green);
    border:1px solid var(--light-green);
}

.security-btn p {
    margin-bottom: 0;
}

.security-btn i {
    margin-left: 5px;
}

.security-btn>i, .security-btn>p{
    color:var(--dark-green);
}