.detail-content .price{
    margin:15px 0 0;
    font-weight:800;
    color:rgb(128, 191, 173)
}

.detail-content .detail-img{
    width: 100%;
}

.detail-content .buttons {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-content .buttons .quantity {
    height: 100%;
    border: 1px solid rgb(15, 52, 41);
    border-radius: 10px;
    padding: 7px 10px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-content .buttons h4 {
    margin: 0!important;
}

.detail-content .buttons a.primary-btn {
    align-self: flex-end;
    margin-top: 0!important;
    height: 40px;
    padding: 9px 20px;
}

