<div class="main-content container-fluid detail-content cart-content">
  <div class="section-content-p30">
    <div class="row" *ngIf="numItems > 0">
      <div class="col-lg-9">
        <h3>Your cart</h3>
        <div class="row mb-5">
          <div class="col-md-6 item-box mb-3" *ngFor="let item of cartItems">
            <div class="row">
              <div class="col-md-6">
                <a href="/products/{{ item.id }}">
                  <img
                    src="{{ item.imageUrl }}"
                    class="img-fluid rounded wiggle"
                    alt="{{ item.name }}"
                  />
                </a>
              </div>
              <div class="col-md-6">
                <a href="/products/{{ item.id }}">
                  <h4>{{ item.name }}</h4>
                </a>
                <p class="price">{{ item.unitPrice | currency : "USD" }}</p>
                <div class = "quantity-wrapper">
                  <h5>Qty</h5>
                  <div class="quantity">
                    <button
                      (click)="decrementQuantity(item)"
                      id="decrement"
                      type="button"
                    >
                      -
                    </button>
                    <span class="num" #quantity>{{ item.quantity }}</span>
                    <button
                      (click)="incrementQuantity(item)"
                      id="increment"
                      type="button"
                    >
                      +
                    </button>
                  </div>
                </div>
                <button class = "rm-item" (click)="removeItem(item)"><h5>Remove</h5></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <app-order-summary  [numItems]="numItems" 
                            [subTotal]="subTotal"
                            [shipping]="shipping"
                            [tax]="tax"
                            [total]="total"></app-order-summary>
        <div class="row">
            <div style = "width: 100%">
            <button class = "primary-btn checkout-btn" routerLink="/checkout"><h5>Go to Checkout</h5><img src="../../../assets/images/fleur-icon.png" /></button>          
            </div>
        </div>
      </div>
      <a routerLink="/products" class="mt-5">Back to Shopping</a>
    </div>

    <div class="row" *ngIf="numItems == 0">
      <h3>Your cart is empty</h3>
      <a routerLink="/products" class="mt-5">Back to Shopping</a>
    </div>
  </div>
</div>
