body {
    background-color: rgb(249, 244, 238);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', serif;
    color: rgb(15, 52, 41);
}

p {
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
}

.wiggle:hover {
  display: inline-block;
  animation: wiggle 2.5s;
}

.wiggle {
  animation: none;
}