/* 
 * ----------------------------
 * Universal style
 * ----------------------------
 */

:root {
    --btn-radius: 10px;
    --bg-color: rgb(249, 244, 238);
    --dark-green: rgb(15, 52, 41);
    --light-green: rgb(128, 191, 173);
    --yellow: #ffc961;
    --border-color: rgb(117, 117, 117);
}

* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body {
    background-color: var(--bg-color);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', serif;
    color: var(--dark-green);
}

p,a, span, button {
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6,p {
    font-size: 15px;
}

ul{
    margin:0
}

button,input[type=button]{
    cursor:pointer
}

button:focus,input:focus{
    outline:0
}

input{
    border:none
}

button{
    border:none;
    background:0 0
}

a,a:hover,button:hover{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease
}

img{
    max-width:100%;
    height:auto
}

a{
    display:inline-block;
    text-decoration:none;
}

a:active,a:focus,a:hover{
    text-decoration:none;
    outline:0
}

/* Wiggle effect */

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
}

.wiggle:hover {
  display: inline-block;
  animation: wiggle 2.5s;
}

.wiggle {
  animation: none;
}

/*Layout Css*/
.section-content-p35{
    padding:0 35px
}

.page-wrapper{
    overflow:hidden;
    padding-bottom:8vh
}

.page-container{
    padding-left:200px
}

.main-content{
    padding-top:116px;
    min-height:100vh
}

aside.menu-sidebar.d-none.d-lg-block.clr{
    background:0 0;
    z-index:99999999;
    height:75px;
    box-shadow:-2px 0 4px #0000003b
}

/* 
 * ----------------------------
 * Preloader
 * ----------------------------
 */

#preloader {
	position: fixed;
	width: 100%;
    height: 100%;
	top: 0;
	left: 0;
	z-index: 999999999;
	background: var(--yellow);
    overflow: hidden;
    text-align: center;
}

.loader-img {
    position: absolute;
	width: 80px;
	height: 80px;
	top:40%;
	left: 47%;
    animation: loader 5s linear infinite;
}

#preloader h5 {
    position: absolute;
	top:53%;
	left: 47%;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* 
 * ----------------------------
 * Header Desktop Section
 * ----------------------------
 */

 .header-desktop{
    position:fixed;
    top:0;
    right:0;
    left:200px;
    height:75px;
    z-index:99999999;
    border-bottom: 1px solid var(--border-color);
    /* From https://css.glass */
    background: rgba(229, 229, 229, 0.21);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}

.header-desktop .section-content{
    overflow:visible;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
}

.header-wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}

.header-button{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center
}

.number{
    padding:6px 0
}

.arrows i{
    font-size:30px;
    padding:4px 4px
}

section{
    position:relative
}

.section-content{
    position:relative;
    margin:0 auto;
    z-index:1
}

.section-content-p30{
    padding:0 30px
}

.au-input-xl{
    min-width:935px
}

input.au-input.au-input-xl{
    border-radius:var(--btn-radius);
    margin-right:15px
}

.au-input{
    line-height:43px;
    border:1px solid var(--border-color);
    font-size:14px;
    color:#666;
    padding:0 17px;
    -webkit-border-radius:var(--btn-radius);
    -moz-border-radius:var(--btn-radius);
    border-radius:var(--btn-radius);
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}

.cart-area.d-n{
    display:block
}

.cart-area i{
    font-size:22px;
    float:left;
    margin-top:16px;
    color:var(--dark-green);
    margin-left:15px
}

.total{
    background:var(--dark-green);
    line-height:43px;
    color:#fff;
    border-radius:var(--btn-radius);
    border:1px solid var(--dark-green);
    float:left;
    margin-top:7px;
    padding-left:17px;
    font-size:14px;
}

.total span{
    display:inline-block;
    background:#fff;
    padding:0 13px;
    color:var(--dark-green);
    border-top-right-radius:var(--btn-radius);
    border-bottom-right-radius:var(--btn-radius);
    margin-left:11px
}

.form-header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}

.au-btn-submit{
    position:relative;
    right:0;
    min-width:95px;
    color:#fff;
    border:1px solid var(--dark-green);
    -webkit-border-radius:var(--btn-radius);
    -moz-border-radius:var(--btn-radius);
    border-radius: var(--btn-radius);
    background:var(--dark-green);
    font-size:14px;
}

.au-btn-submit:hover{
    background:var(--light-green);
    border:1px solid var(--light-green);
}

.au-btn-submit>i{
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

/* 
 * ----------------------------
 * Left Menu Bar
 * ----------------------------
 */

.menu-sidebar{
    width:200px;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    overflow-y:auto;
    border-right: 1px solid var(--border-color);
}

.menu-sidebar .logo{
    height:75px;
    padding:0 35px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    z-index:3;
    border-bottom: 1px solid var(--border-color);
}

.menu-sidebar .logo .img-responsive {
    width: 87px;
}

.menu-sidebar .navbar-list .navbar-sub-list{
    display:none;
    padding-left:34px
}

.menu-sidebar .navbar-list .navbar-sub-list li a{
    padding:11.5px 0
}

.menu-sidebar-content{
    position:relative;
    height:-webkit-calc(100vh - 75px);
    height:-moz-calc(100vh - 75px);
    height:calc(100vh - 75px)
}

.navbar-sidebar{
    padding:35px;
    padding-bottom:0
}

.navbar-sidebar .navbar-list li a{
    display:block;
    color: var(--dark-green);
    font-size:16px;
    padding:5px 0;
}

.navbar-sidebar .navbar-list li a i{
    margin-right:19px
}

.navbar-sidebar .navbar-list li a:hover{
    color: var(--light-green);
}

/* 
 * ----------------------------
 * Header Mobile Section
 * ----------------------------
 */

.header-mobile{
    position:absolute;
    top:0;
    left:0;
    right:0
}
.header-mobile .header-mobile-bar{
    padding:15px 0;    background: #fff;
}
.header-mobile .header-mobile-inner{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.header-mobile .hamburger{
    width:36px;
    height:36px;
    padding:0;
    line-height:1;
    vertical-align:top;
    background:#fff;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.header-mobile .hamburger .hamburger-box{
    width:20px;
    height:15px
}
.header-mobile .hamburger .hamburger-box .hamburger-inner{
    width:20px;
    height:2px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0
}
.header-mobile .hamburger .hamburger-box .hamburger-inner:before{
    width:20px;
    height:2px;
    top:6px
}
.header-mobile .hamburger .hamburger-box .hamburger-inner:after{
    top:12px;
    width:20px;
    height:2px
}
.header-mobile .navbar-mobile{
    display:none;
    position:absolute;
    width:100%;
    top:88px;
    z-index:20
}
.header-mobile .navbar-mobile .navbar-mobile-list{
    background:#f8f8f8
}
.header-mobile .navbar-mobile .navbar-mobile-list>li>a{
    padding-left:15px!important
}
.header-mobile .navbar-mobile .navbar-mobile-list li a{
    color:#555;
    display:block;
    padding:10px 15px;
    padding-right:25px;
    padding-left:0;
    border-bottom:1px solid #e6e6e6;
    text-transform:capitalize;
    line-height:inherit
}
.header-mobile .navbar-mobile .navbar-mobile-list li a:hover{
    color: var(--dark-green);
}
.header-mobile .navbar-mobile .navbar-mobile-list li a>i{
    margin-right:19px
}
.navbar-mobile-sub-list{
    display:none;
    padding-left:30px;
    background:#fff
}
.header-mobile .navbar-mobile .navbar-mobile-sub-list li a{
    padding-left:15px
}
.header-mobile-2{
    background:#393939;
    position:static
}
.header-mobile-2.header-mobile .navbar-mobile{
    top:82px
}
.header-mobile-2.header-mobile .hamburger{
    background:0 0
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner{
    background:#fff
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::before{
    background:#fff
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::after{
    background:#fff
}

/* 
 * ----------------------------
 * Shopping Cart Checkout
 * ----------------------------
 */

.input-area{
    position:relative;
    padding:10px 23px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-bottom: 1rem;
}

.review-section p {
    margin-bottom: 0;
}

.input-area h5{
    background-color: var(--bg-color);
    position:absolute;
    top:-20px;
    left:13px;
    font-size: 12px;
    padding:10px;
    font-weight:500;
    z-index:23;
    display:inline-block
}

.input-area input[type=text], .input-area input[type=email], .input-area select{
    width:100%;
    height:30px;
    background-color: transparent;
    font-family: 'Gabarito', sans-serif;
    font-size: 15px;
    outline:0;
}

.input-area select {
    padding-left: 0!important;
    cursor: pointer;
    border-color: var(--bg-color)
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    outline: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--dark-green);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--bg-color);
}

.form-check-input {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--btn-radius);
}

.form-check-input::before, .form-check-input::after {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--light-green);
    border-color: var(--light-green);
    box-shadow: none;
    -webkit-box-shadow: none;
}

.review-section {
    border: 1px solid var(--border-color)
}

/* 
 * ----------------------------
 * Shopping Cart Details
 * ----------------------------
 */

.quantity {
    height: 100%;
    border: 1px solid var(--dark-green);
    border-radius: var(--btn-radius);
    padding: 7px 10px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary h5, .summary p, .summary h6 {
    margin-bottom: 0; 
    line-height: 1;
}

/* 
 * ----------------------------
 * Product Details
 * ----------------------------
 */

.price{
    margin:15px 0 0;
    font-weight:800;
    color:var(--light-green)
}

.detail-section{
    margin-top:60px
}
/**/

/* 
 * ----------------------------
 * Buttons
 * ----------------------------
 */

.btn-info{
    color:#fff;
    background-color:var(--light-green)!important;
    border-color:var(--light-green)!important
}
.primary-btn{
    background:var(--dark-green);
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:var(--btn-radius);
    font-size:14px;
    margin-top:5px
}
.primary-btn:hover{
    background:var(--light-green);
    color:#fff
}

.active-link {
  font-weight: bold;
}

button.checkout-btn {
    background-color: #ffc961;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px!important;
    margin-top: 20px;
    width: 100%;
}

button.checkout-btn:hover {
    background-color: var(--light-green);
}

.checkout-btn h5 {
    color: var(--dark-green);
    margin-bottom: 0;
}

button.checkout-btn img {
    max-height: 30px;
    max-width: 30px;
}

button.checkout-btn:hover img {
    animation: loader 5s linear infinite;
}

/* 
 * ----------------------------
 * Pagination
 * ----------------------------
 */

ngb-pagination {
    font-family: 'Gabarito', sans-serif;
    font-size: 14px;
}   

.pagination li a
{
    background-color: var(--bg-color)!important;
    color: var(--dark-green)!important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: var(--light-green);
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: var(--light-green)!important;
    background-color: var(--dark-green) !Important;
    border: solid 1px var(--dark-green) !Important;
}

.pagination > .active > a:hover
{
    background-color: var(--dark-green)!Important;
    border: solid 1px var(--dark-green)!;
}

/* 
 * ----------------------------
 * Footer section
 * ----------------------------
 */

footer ul li a{
    color:#fff
}
footer{
    background:var(--dark-green);
    z-index:1;
    position:relative;
    text-align:center
}
footer li a{
    color:#313131;
    font-weight:500
}
footer ul li{
    display:inline-block;
    font-size:14px;
    padding:10px 20px
}

/* 
 * ----------------------------
 * Media Queries
 * ----------------------------
 */

@media (max-width:1600px){
    .au-input-xl{
        min-width:290px
    }
}
@media (max-width:1315px) and (min-width:992px){
    .header-desktop3 .section-content{
        padding:0 15px
    }
}
@media (max-width:1570px) and (min-width:992px){
    .header-navbar ul li a{
        padding:25px 15px
    }
}
@media (max-width:1315px) and (min-width:992px){
    .header-navbar ul li a{
        font-size:13px;
        padding:27px 15px
    }
    .header-navbar ul li a i{
        margin-right:5px
    }
}

@media (min-width:1200px){
    .container{
        max-width:1320px
    }
}

@media (min-width:992px) and (max-width:1199px){
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:16px;
        color:var(--dark-green);
        margin-left:15px
    }
    .header-mobile .header-mobile-bar{
        padding:10px 0;
        background:#fff
    }
    .header-wrap .account-item>.content{
        display:none
    }
}


@media (max-width:991px){
     .section-content-p30{
        padding:0
    }
    .page-container{
        position:relative;
        top:0;
        padding-left:0
    }
     .page-wrapper{
        padding-bottom:12vh
    }
     .main-content{
        padding-top:50px;
        padding-bottom:100px
    }
     .cart-area.d-n{
        display:none
    }
    .form-header{
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -moz-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
     .au-input-xl{
        min-width:350px
    }
      .logo{
        text-align:center
    }
    .header-desktop{
        position:relative;
        top:0;
        left:0;
        height:80px
    }
    .header-wrap{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -moz-box-orient:vertical;
        -moz-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .header-button{
        margin-top:30px;
        width:100%;
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -moz-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
    .menu-sidebar2{
        top:0;
        right:-300px;
        left:auto;
        -webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
        -moz-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
        box-shadow:0 5px 10px 0 rgba(0,0,0,.1)
    }
     .header-desktop2{
        left:0;
        position:relative
    }
     .header-desktop4{
        position:static
    }
     .section-content.section-content-p30.e-spc{
        padding-top:100px
    }
    header.header-desktop.extra{
        top:93px!important
    }
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:16px;
        margin-left:15px
    }
        .header-wrap2{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -moz-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
}


@media (max-width:767px){
    .au-input-xl{
        min-width:150px;
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
    .header-button-item{
        font-size:22px;
        margin-right:15px
    }
    .header-mobile .navbar-mobile{
        display:none;
        position:absolute;
        width:100%;
        top:66px;
        z-index:20
    }
    .section-content.section-content-p30.e-spc{
        padding-top:100px
    }
    header.header-desktop.extra{
        top:64px!important
    }
    .header-desktop{
        position:relative;
        top:0;
        left:0;
        height:80px
    }
    a.logo img{
        width:110px
    }

    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:16px;
        margin-left:15px
    }
    .footer-pagination{
        text-align:center
    }
    .product-box{
        text-align:centerg
    }
    .au-btn-submit{
        position:relative;
        right:10px;
        min-width:85px;
        color:#fff;
        border-top-left-radius:0;
        border-bottom-left-radius:0;
    }
    input.au-input.au-input-xl{
        margin-right:0
    }
    .cart-area.d-b{
        display:block
    }
    .cart-area.d-n{
        display:none
    }
    .cart-area i{
        font-size:18px;
        float:left;
        margin-top:16px;
        color:var(--dark-green);
        margin-left:15px
    }
    .total span{
        display:inline-block;
        background:#fff;
        padding:0 10px;
        color:#000;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        margin-left:6px
    }
    .total{
        background:var(--light-green);
        line-height:30px;
        color:#fff;
        border-radius:var(--btn-radius);
        border:1px solid var(--light-green);
        float:left;
        margin-top:9px;
        padding-left:12px
    }
    .header-mobile .header-mobile-bar{
        padding:6px 0;
        background:#fff;
        border:0;
        padding:8px 0
    }
}



