<div class="row">
  <div class="col">
    <div class="input-area review-section mt-3 mb-3">
      <h5>Information</h5>
      <p>{{ firstName + " " + lastName }}</p>
      <p>{{ email }}</p>
      <p>{{ phoneNumber }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="input-area review-section mt-3 mb-3">
      <h5>Delivery</h5>
      <div class="row">
        <div class="col-md-6">
          <h6 class = "mt-2">Shipping address</h6>
          <p>{{ streetShipping }}</p>
          <p>{{ cityShipping }}</p>
          <p>
            {{ stateShipping + "-" + zipcodeShipping + ", " + countryShipping }}
          </p>
        </div>
        <div class="col-md-6">
          <h6 class = "mt-2">Billing address</h6>
          <p>{{ streetBilling }}</p>
          <p>{{ cityBilling }}</p>
          <p>
            {{ stateBilling + "-" + zipcodeBilling + ", " + countryBilling }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="paymentFormGroup" (ngSubmit)="onSubmit()">
  <div class = "alert alert-danger mt-1" id = "payment-status" [style.display]="paymentStatus.textContent == ''? 'none': 'block'"></div>
  <div class="row mt-3">
    <div class = "col">
        <div id = "card-element"></div>
        <div id = "card-errors" class = "error-message mt-1"></div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <button type="submit" class="primary-btn checkout-btn" [disabled]="displayError.textContent !== ''">
        <h5>Submit</h5>
        <img src="../../../assets/images/fleur-icon.png" />
      </button>
    </div>
  </div>
</form>
<button (click)="backToDelivery()" class="mt-5"><h5 style = "text-decoration: underline">Back to Delivery</h5></button>
